<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>HardResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>8192</integer>
	</dict>
	<key>Label</key>
	<string>com.sportweb.fetcher</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>-c</string>
		<string>sleep $((RANDOM % 1800)); cd /Users/shawnclaw/autobot/investing/sports/autobots_NBA/sportweb &amp;&amp; .venv/bin/python src/fetcher.py</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>SoftResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>4096</integer>
	</dict>
	<key>StandardErrorPath</key>
	<string>/Users/shawnclaw/Library/Logs/autobot/com.sportweb.fetcher.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/shawnclaw/Library/Logs/autobot/com.sportweb.fetcher.out.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>21</integer>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/shawnclaw/autobot/investing/sports/autobots_NBA/sportweb</string>
</dict>
</plist>
