<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>HardResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>8192</integer>
	</dict>
	<key>Label</key>
	<string>com.sportweb.edge_alert</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/shawnclaw/autobot/investing/sports/autobots_NBA/sportweb/.venv/bin/python</string>
		<string>/Users/shawnclaw/autobot/investing/sports/autobots_NBA/sportweb/src/edge_detector.py</string>
		<string>--push</string>
		<string>--min-edge</string>
		<string>0.05</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>SoftResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>4096</integer>
	</dict>
	<key>StandardErrorPath</key>
	<string>/Users/shawnclaw/Library/Logs/autobot/com.sportweb.edge_alert.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/shawnclaw/Library/Logs/autobot/com.sportweb.edge_alert.out.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Minute</key>
		<integer>35</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/shawnclaw/autobot/investing/sports/autobots_NBA/sportweb</string>
</dict>
</plist>
