<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>HardResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>8192</integer>
	</dict>
	<key>Label</key>
	<string>com.nba.daily_update</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/shawnclaw/autobot/investing/sports/autobots_NBA/nba_daily_update.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>SoftResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>4096</integer>
	</dict>
	<key>StandardErrorPath</key>
	<string>/Users/shawnclaw/autobot/investing/sports/autobots_NBA/logs/launchd.error.log</string>
	<key>StandardOutPath</key>
	<string>/Users/shawnclaw/autobot/investing/sports/autobots_NBA/logs/launchd.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>9</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/shawnclaw/autobot/investing/sports/autobots_NBA</string>
</dict>
</plist>
